<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>TODO設定</title>
</head>
<body>
    <header>
        <a href="{% url 'todo' %}">TODO</a>
        <a href="{% url 'todo_setting' %}">TODOの設定</a>
        <a href="{% url 'logout' %}">ログアウトする</a>
    </header>
    <table>
        <tr>
            <th>トレーニング名</th><th>回数</th><th>終了</th>
        </tr>
        {% for todo in todos %}
        <tr>
            <td>{{ todo.title }}</td>
            <td>{{ todo.times }}</td>
            <td>
                {% if todo.complete_at == null %}
                    <a href="{% url 'complete' todo.id %}">{{ todo.complete_at }}</a>
                {% else %}
                    {{ todo.complete_at }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>