<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>TODO設定</title>
</head>
<body>
    <header>
        <a href="{% url 'todo' %}">TODO</a>
        <a href="{% url 'todo_setting' %}">TODOの設定</a>
        <a href="{% url 'logout' %}">ログアウトする</a>
    </header>
    <table>
        <tr>
            <th>トレーニング名</th><th>回数</th>
        </tr>
        {% for todo in todos %}
        <tr>
            <td>{{ todo.title }}</td>
            <td>{{ todo.times }}</td>
            <td><a href="{% url 'delete' todo.id %}">削除</a></td>
        </tr>
        {% endfor %}
    </table>
    <form method="post" action="">
    {% csrf_token %}
    {{ form.as_table }}
    <input class="btn" type="submit" value="追加">
    </form>
</body>
</html>
